<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/lista.css">
</head>
<body>
    <h1 class="titulo">Lista de Clientes</h1>
    <h3 class="textListaPrimario"><a href="/clientes/criar">Novo Cliente</a></h3>

    <table class="tabela" border="1">
        <thead>
            <td colspan="7">Lista de Clientes</td>
        </thead>
        <tbody>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Foto</th>

            <th colspan="2">
            Ações
            </th>
        </tbody>
        <tr th:each="cliente :${clientes}">
            <td th:text="${cliente.nomeCliente}"></td>
            <td th:text="${cliente.enderecoCliente}"></td>
            <td th:text="${cliente.cidadeCliente}"></td>
            <td th:text="${cliente.estadoCliente}"></td>
            <td th:text="${cliente.cepCliente}"></td>
            <td th:text="${cliente.cpfCliente}"></td>
            <td th:text="${cliente.rgCliente}"></td>
            <td>
                <img th:if="${cliente.fotoCliente != null}"
                    th:src="@{/clientes/foto/{id}(id=${cliente.idCliente})}"
                    width="70" height="80">
            </td>
            <td>
                <a th:href="@{/clientes/editar/{id}(id=${cliente.idCliente})}">Editar</a>
                <a th:href="@{/clientes/excluir/{id}(id=${cliente.idCliente})}">Excluir</a>
            </td>
        </tr>

    </table>
    <p><a class="btnVoltar" th:href="@{/allthings}">Voltar</a></p>
</body>
</html>
