<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario <!DOCTYPE html>
    <link rel="stylesheet" href="/css/form.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Categorias</title>
</head>
<body>
    <h1></h1>
    <form th:action="@{/categorias/salvar}" method="post" th:object="${categoria}">

        <input type="hidden" name="idCategoria" th:field="*{idCategoria}">

        <label for="nomeCategoria">Nome</label>
        <input type="text" id="nomeCategoria" name="nomeCategoria" th:field="*{nomeCategoria}">
        <br>

        <label for="descricaoCategoria">Descrição</label>
        <input type="text" id="descricaoCategoria" name="descricaoCategoria" th:field="*{descricaoCategoria}">
        <br>

        <button class="btnSalvar" type="submit">Salvar a Categoria</button>
    </form>

    <p><a class="btnVoltar" th:href="@{/categorias/listar}" >Voltar</a></p>
</body>
</html>