<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <td colspan="6">Lista de Categorias</td>
        </thead>
        <tbody>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tbody>
        <tr th:each="categoria :${categorias}">
            <td th:text="${categoria.nomeCategoria}"></td>
            <td th:text="${categoria.descricaoCategoria}"></td>
            <td>
                <a th:href="@{/categorias/editar/{id}(id=${categoria.idCategoria})}">Editar</a>
                <a th:href="@{/categorias/excluir/{id}(id=${categoria.idCategoria})}">Excluir</a>
            </td>
        </tr>

    </table>
    
    <p><a th:href="@{/allthings}" >Voltar</a></p>

</body>
</html>