<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <form th:action="@{/fornecedores/salvar}" method="post" th:object="${fornecedor}">

        <input type="hidden" name="idFornecedor" th:field="*{idFornecedor}">

        <label for="nomeFornecedor">Nome</label>
        <input type="text" id="nomeFornecedor" name="nomeFornecedor" th:field="*{nomeFornecedor}">

        <label for="enderecoFornecedor">Endereço</label>
        <input type="text" id="enderecoFornecedor" name="enderecoFornecedor" th:field="*{enderecoFornecedor}">

        <label for="cidadeFornecedor">Cidade</label>
        <input type="text" id="cidadeFornecedor" name="cidadeFornecedor" th:field="*{cidadeFornecedor}">

        <label for="estadoFornecedor">Estado</label>
        <input type="text" id="estadoFornecedor" name="estadoFornecedor" th:field="*{estadoFornecedor}">

        <label for="cepFornecedor">CEP</label>
        <input type="text" id="cepFornecedor" name="cepFornecedor" th:field="*{cepFornecedor}">

        <label for="cnpjFornecedor">CNPJ</label>
        <input type="text" id="cnpjFornecedor" name="cnpjFornecedor" th:field="*{cnpjFornecedor}">

        <button type="submit">Salvar o Fornecedor</button>

    </form>

    <p><a th:href="@{/fornecedores/listar}">Voltar</a></p>
</body>
</html>
