<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <h1>Formulário de cadastro de Produto</h1>
    <form th:action="@{/produtos/salvar}" method="post" th:object="${produto}">

        <input type="hidden" name="idProduto" th:field="*{idProduto}">

        <label for="descricaoProduto">Descrição</label>
        <input type="text" id="descricaoProduto" name="descricaoProduto" th:field="*{descricaoProduto}">

        <label for="marcaProduto">Marca</label>
        <input type="text" id="marcaProduto" name="marcaProduto" th:field="*{marcaProduto}">

        <label for="modeloProduto">Modelo</label>
        <input type="text" id="modeloProduto" name="modeloProduto" th:field="*{modeloProduto}">

        <label for="unidadeProduto">Unidade</label>
        <input type="text" id="unidadeProduto" name="unidadeProduto" th:field="*{unidadeProduto}">

        <label for="valorProduto">Valor</label>
        <input type="text" id="valorProduto" name="valorProduto" th:field="*{valorProduto}">

        <label for="idFornecedor">Fornecedor</label>
        <select th:field="*{fornecedor}">
            <option value="" disabled selected>Selecione o Fornecedor</option>
            <option th:each="fornecedor : ${fornecedores}"
                    th:text="${fornecedor.nomeFornecedor}"
                    th:value="${fornecedor.idFornecedor}"></option>
        </select>

        <button class="btnSalvar" type="submit">Salvar o Produto</button>
    </form>

    <p><a class="btnVoltar" th:href="@{/produtos/listar}">Voltar</a></p>
</body>
</html>